In [1]:
import pandas as pd
import numpy as np

In [47]:
# read clean data
rating_df = pd.read_csv('./data/clean/movie-lens-100k-ratings.csv').astype(str)
user_df = pd.read_csv('./data/clean/movie-lens-100k-users.csv').astype(str)
item_df = pd.read_csv('./data/clean/movie-lens-100k-items.csv').astype(str)

# get user, item dummies
item_dummies_df = pd.get_dummies(item_df.set_index('item_id'), dummy_na=False).astype(int)
user_dummies_df = pd.get_dummies(user_df.set_index('user_id')).astype(int)

# remove nan features
item_dummies_df = item_dummies_df.loc[:, ~item_dummies_df.columns.str.contains('nan')]

In [48]:
# merge user, item dummies to rating data
data = rating_df.merge(user_dummies_df, left_on='user_id', right_index=True, how='left')\
    .merge(item_dummies_df, left_on='item_id', right_index=True, how='left')

# sort chronologically and set index
data = data.sort_values('timestamp', ascending=True).set_index(['user_id', 'item_id', 'timestamp'])
data.head()

                          rating  gender_F  gender_M  \
user_id item_id timestamp
259     286     874724727      4         0         1
                874724727      4         0         1
                874724727      4         0         1
        185     874724781      4         0         1
                874724781      4         0         1

                           occupation_administrator  occupation_artist  \
user_id item_id timestamp
259     286     874724727                         0                  0
                874724727                         0                  0
                874724727                         0                  0
        185     874724781                         0                  0
                874724781                         0                  0

                           occupation_doctor  occupation_educator  \
user_id item_id timestamp
259     286     874724727                  0                    0
                874724727                  0                    0
                874724727                  0                    0
        185     874724781                  0                    0
                874724781                  0                    0

                           occupation_engineer  occupation_entertainment  \
user_id item_id timestamp
259     286     874724727                    0                         0
                874724727                    0                         0
                874724727                    0                         0
        185     874724781                    0                         0
                874724781                    0                         0

                           occupation_executive  ...  genre_Western  \
user_id item_id timestamp                        ...
259     286     874724727                     0  ...              0
                874724727                     0  ...              0
                874724727                     0  ...              0
        185     874724781                     0  ...              0
                874724781                     0  ...              0

                           genre_unknown  release_decade_1920.0  \
user_id item_id timestamp
259     286     874724727              0                      0
                874724727              0                      0
                874724727              0                      0
        185     874724781              0                      0
                874724781              0                      0

                           release_decade_1930.0  release_decade_1940.0  \
user_id item_id timestamp
259     286     874724727                      0                      0
                874724727                      0                      0
                874724727                      0                      0
        185     874724781                      0                      0
                874724781                      0                      0

                           release_decade_1950.0  release_decade_1960.0  \
user_id item_id timestamp
259     286     874724727                      0                      0
                874724727                      0                      0
                874724727                      0                      0
        185     874724781                      0                      1
                874724781                      0                      1

                           release_decade_1970.0  release_decade_1980.0  \
user_id item_id timestamp
259     286     874724727                      0                      0
                874724727                      0                      0
                874724727                      0                      0
        185     874724781                      0                      0
                874724781                      0                      0

                           release_decade_1990.0
user_id item_id timestamp
259     286     874724727                      1
                874724727                      1
                874724727                      1
        185     874724781                      0
                874724781                      0

[5 rows x 59 columns]